
EXPRESS_PORT=3902
ENVIRONMENT='development'
API_VERSION=v1
JWT_SECRET=''
FRONTENDURL=
BACKENDURL=

# knex configs
DB_HOST=''
DB_USER=
DB_PASSWORD=''
DB_NAME=
DB_PORT=3306

# redis config
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_DB=0

# smtp sendinblue credentials
SENDINBLUE_HOST=""
SENDINBLUE_PORT=""
SENDINBLUE_USER=""
SENDINBLUE_PASSWORD=""

# seats io credentials
SEATSIO_SECRET_WORKSPACE_KEY=""










