EXPRESS_PORT=3900
ENVIRONMENT='development'
API_VERSION=v1
JWT_SECRET=''

# knex configs
DB_HOST=''
DB_USER=
DB_PASSWORD=''
DB_NAME=
DB_PORT=

# redis config
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_DB=0